## LetsGrowMore (LGMVIP) - MAY 2022

#### Data Science Intern : Abbas Hyder

### BEGINNER LEVEL TASK
### TASK 1: Iris Flowers Classification ML Project :

### Importing libraries

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### loading IRIS data set

In [2]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### Checking Number of rows and Coloumns in Data set

In [4]:
df.shape

(150, 5)

### Columns in data set

In [5]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [7]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### checking out missing values

In [9]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

### Selection of input and output variables

In [11]:
X = df.iloc[:,[1,2]]   #Select all rows and first and second column 
y = df.iloc[:,-1:]   #Select all rows of Only last Column

In [12]:
#check input variables
X.head()

   sepal_width  petal_length
0          3.5           1.4
1          3.0           1.4
2          3.2           1.3
3          3.1           1.5
4          3.6           1.4

In [13]:
#check output variable
y.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [15]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

### spiliting data in Train and Test Data

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

### Model training

In [17]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train,y_train)

C:\Users\Abbas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

###  Model Prediction

In [18]:
predicted_values = model.predict(X_test)
predicted_values

array(['virginica', 'versicolor', 'setosa', 'virginica', 'setosa',
       'virginica', 'setosa', 'versicolor', 'virginica', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'virginica', 'versicolor', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'setosa'], dtype=object)

### predict unknown values

In [19]:
#Predict Unknown Value out of sample
model.predict([[3,5]])

C:\Users\Abbas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['virginica'], dtype=object)

### Model Accuracy

In [20]:
from sklearn.metrics import accuracy_score

actual_values = y_test
score = accuracy_score(predicted_values,actual_values)
score

0.9666666666666667